<table class="table table-striped table-hover table-bordered">
	<thead>
		<tr>
			<th>Id</th>
			<th>First</th>
			<th>Last</th>
		</tr>
</thead>
	<tbody>
		<% @students.each do |student| %>
			<tr>
				<td><%= link_to student.id, student %></td>
				<td><%= student.first_name %></td>
				<td><%= student.last_name %></td>
			</tr>
		<% end %>
	</tbody>
</table>

<%= link_to "new",  new_student_path, :class => "btn btn-primary" %> 
